.bebe-cows__gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 1;
	grid-gap: 0.5em;
	grid-auto-flow: dense;

	figure {
		display: flex;
		flex-direction: column;

	}
	figcaption {
		display: flex;
		padding: 0.25em;
	}


	figure:nth-child(even) {
		grid-column: span 2;
		grid-row: span 2;

		
	}

	img {
		display: block;
		max-width: 100%;
		object-fit: cover;
		flex: 1;
	}
}