
.bebe-cows__container {

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	width: 75%;
	margin: 0 auto;
	padding: 0.5em;

}


.bebe-cows__gallery {
	figcaption a {
		text-decoration: none;
	}
}

