.bebe-cows__container {
	background-color: var(--bg-color);
}

.bebe-cows__header {
	h2 {
		color: var(--color-header);
	}
	h3 {
		color: var(--color-header);
		@supports ( background-clip: text ) or ( -webkit-background-clip: text ) {
			background-image: linear-gradient(to right, var(--bg-color-caption) 10%, var(--color-header) 100%);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			
		}
	}
}

.bebe-cows__gallery {
	figcaption {
		background-color: var(--bg-color-caption);
		color: var(--color-caption);

		a {
			color: inherit;
			&:hover {
				color: #FFED85;
			}
		}
	}
}